@import "./count.scss";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
	margin: 0;
    font-family: 'Lato', sans-serif;
}

nav {
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    width: 100%;
    z-index: 10;

	.nav-main {
		display: flex;
    	flex-direction: column;
    	padding: 15px;

		.nav-item-p, .nav-item-amount, .nav-item-menu, .nonav-item-p{
			text-decoration: none;
			margin: 0;
		}

		.nav-item-p {
			font-size: 20px;
			color: #fff;
		}

		.nonav-item-p {
			font-size: 20px;
			color: #1A384F;
		}

		.nav-item-amount {
			font-size: 12px;
			color: rgba(255,255,255, 0.3);
		}

		.nav-item-menu {
			color: #fff;
		}
	}
	
}

.relative {
	position: relative;
}

.counters {
	display: flex;
    margin-bottom: 50px;

    button {
    	margin-right: 20px;
    }
}



// Index Screen ( after login )
.container-home {
	background: #8AA692;
	height: 100vh;
	.wrapper-home {
		padding-top: 100px;
		width: 80%;
		text-align: center;
		margin: auto;
		color: #fff;
	}
	.home-username {
		width: 50%;
		margin: auto;
		padding: 10px;
		border: 1px solid #fff;
		margin-bottom: 20px;
	}
	.home-logout {
		margin-bottom: 80px;
		a { 
			color: #fff; 
			text-decoration: none;
		}
	}
	.home-btn {
		width: 50%;
		margin: auto;
		background:#fff;
		border: 1px solid #8AA692;
		padding: 10px;
		color: #8AA692;
		text-decoration: none;
		display: block;
	}
}
// Dashboard Screen 
.value-link-wrapper {
	color: #fff;
	text-decoration: none;
}
.container-dashboard {
	background: #93BDAB;
	height: 100vh;

	.wrapper-main {
		padding-top: 40px;
		width: 100%;
		text-align: center;
		margin: auto;
		color: #fff;
	}
	.value-header {
		text-transform: uppercase;
	}
	.dashboard-bnts a {
		padding: 10px;
		text-decoration: none;
		display: inline-block;
		width:20px;
		height:20px;
		line-height:20px;
		border-radius: 50%;
		color:#f5f5f5;
		font-weight:bold;
	}
	.dashboard-value-water {
		p {
			color: #1A384F;
		}
		padding: 15px;
	}
	.dashboard-value-plants {
		p {
			color: #407844;
		}
		padding: 15px;
	}
	.dashboard-value-coffee {
		p {
			color: #57403E;
		}
		padding: 15px;
	}
	.btn-group {
		padding: 0;
		padding-bottom: 50px;
	}
	.btn-group li {
		display: inline;
		margin: 25px;
	}
	#bnt-group-header { padding-bottom: 20px; }
	#btn-water { background: #1A384F;}
	#btn-coffee { background: #57403E; }
	#btn-plants { background: #407844; }

}

// Login Form ( WELCOME.BLADE )
.container-welcome {
	background: #415948;

}
.submit-btn {
	width: 60%;
	margin: auto;
	background:#fff;
	border: 1px solid #415948;
	padding: 10px;
	color: #415948;
	text-decoration: none;
	display: block;
	margin-top: 20px;
}
.login-input-field {
	width: 80%;
	padding: 10px;
	border: none;
	text-align: center;
	margin-top: 20px;
	color: #415948;
	font-weight: bold;
	margin-bottom: 20px;
}