$darkblue:  #1A384F;
$lightblue: #1BBDF6;
$brown: #B99682;
$darkbrown: #57403E;
$lightgreen: #5AAB61;
$darkgreen: #407844;

.blue {
	background-color: $darkblue;
}

.brown {
	background-color: $brown;
}

.green {
	background-color: $darkgreen;
}

.container {
	max-height: 100vh;
	overflow: hidden;
}
.main-container {
	position: relative;
	z-index: 3;
	.middle-main {
  		line-height: 100vh;
  		text-align: center;

		.percentage {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			color: #fff;
			width: 300px;
			z-index: 3;
		}

		.water {
			font-size: 130px;
			.side {
				font-size: 70px;
			}
		}

		.coffee {
			font-size: 130px;
			line-height: 1;
			.under {
				display: block
			}
			.side, .under {
				font-size: 70px;
			}
		}

		.plants {
			font-size: 120px;
			line-height: 1;
			.above {
				display: block;
				font-size: 50px;
			}
		}
	}

	.waves {
		img {
			z-index: 1;
			width: 100%;
	  		display: block;
	  		position: absolute;
	  		left: 0;
	  		right: 0;
	  		bottom: -100%;
	  		margin: auto;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 9;

	.footer-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 300px;
		margin: 0 auto;
	    height: 40px;

		.line {
			border: 0;
			border-radius: 20px;
			background-color: rgba(255,255,255, 0.5);
			height: 3px;
			width: 40px;
		}
		.active {
			background-color: rgba(255,255,255, 1);
		}
	}
}





.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto',sans-serif;

    form {
    	width: 100%;

    	.slider-water, .slider-coffee, .slider-plants {
    		padding: 0 20px;

    		.slider-info {
    			.info-h3 {
    				color: rgb(0,0,0,0.5);
    				text-transform: uppercase;
    				font-weight: normal;
    				font-size: 17px;
    				margin: 0;
    			}
    			.info-p {
    				color: rgb(0,0,0,1);
    				font-weight: normal;
    				font-size: 15px;
    				margin: 10px 0 0 0;
    			}
    		}

    		.range-slider {
    			padding: 0 20px;

    			.rs-range {
				    margin-top: 15px;
				    width: 100%;
				    -webkit-appearance: none;
					border-radius: 8px;
					height: 10px;
					outline: none;
					transition: background 450ms ease-in;
				    &:focus {
				        outline: none;
				    }
				    &::-webkit-slider-runnable-track {
				        width: 100%;
				        height: 1px;
				        cursor: pointer;
				        box-shadow: none;
				        background: none;
				        border-radius: 0px;
				        border: 0px solid #010101;
				    }
				    &::-moz-range-track {
				        width: 100%;
				        height: 1px;
				        cursor: pointer;
				        box-shadow: none;
				        background: $darkblue;
				        border-radius: 0px;
				        border: 0px solid #010101;
				    }
				  
				    &::-webkit-slider-thumb {
				        box-shadow: none;
				        border: 0px solid $darkblue;
				        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
				        height: 22px;
				        width: 22px;
				        border-radius: 22px;
				        background: rgba(255,255,255,1);
				        cursor: pointer;
				        -webkit-appearance: none;
				        margin-top: -12px;
				    }
				  &::-moz-range-thumb{
				        box-shadow: none;
				        border: 0px solid $darkblue;
				        box-shadow: 0px 10px 10px rgba(0,0,0,0.25);
				        height: 22px;
				        width: 22px;
				        border-radius: 22px;
				        background: rgba(255,255,255,1);
				        cursor: pointer;
				        -webkit-appearance: none;
				        margin-top: -12px;
				  }
				  &::-moz-focus-outer {
				    border: 0;
				    }
				}
				.rs-label {
				    position: relative;
				    transform-origin: center center;
				    display: block;
				    width: 78px;
				    height: 30px;
				    background: transparent;
				    border-radius: 10%;
				    line-height: 30px;
				    text-align: center;
				    font-weight: bold;
				    padding-top: 4px;
				    box-sizing: border-box;
				    margin-top: 20px;
				    margin-left: -26px;
				    color: #fff;
				    left: attr(value);
				    font-style: normal;
				    font-weight: normal;
				    line-height: normal;
				    font-size: 18px;
				    line-height: 1;
				    &::after {
				        font-size: 16px;
				        letter-spacing: 0.07em;
				        margin-top: -2px;
				    } 
				}
    		}
    		.box-minmax{
			  margin-top: 10px;
			  display: flex;
			  justify-content: space-between;
			  font-size: 17px;
			  color: $darkblue;
			  padding: 0 10px;
			}
    	}
		.slider-water {
    		.range-slider {
				input[type=range]::-webkit-slider-thumb {
					background-color: $darkblue;
				}
				.rs-range {
					background: linear-gradient(to right, $darkblue  0%, $darkblue 50%, #CCD7DB 50%, #CCD7DB 100%);
				}
				.rs-water {
					border: 2px solid $lightblue;
					background-color: $lightblue;
					&::after {
						content: "ml";
					}
				}
			}
    	}

    	.slider-coffee {
    		.range-slider {
				input[type=range]::-webkit-slider-thumb {
					background-color: $darkbrown;
				}
				.rs-range {
					background: linear-gradient(to right, $brown  0%, $brown 50%, #CCD7DB 50%, #CCD7DB 100%);
				}
				.rs-coffee {
					border: 2px solid $brown;
					background-color: $brown;
					&::after {
						content: "/day";
					}
				}
			}
    	}
    	.slider-plants {
    		.range-slider {
				input[type=range]::-webkit-slider-thumb {
					background-color: $darkgreen;
				}
				.rs-range {
					background: linear-gradient(to right, $darkgreen  0%, $darkgreen 50%, #CCD7DB 50%, #CCD7DB 100%);
				}
				.rs-plants {
					border: 2px solid $lightgreen;
					background-color: $lightgreen;
					&::after {
						content: " days";
					}
					/*&::before {
						content: "Every ";
					}*/
				}
			}
    	}
    	.btn-settings {
    		margin: 0 auto;
    		width: 50%;

    		.update-btn {
				width: 100%;
    			padding: 10px 20px;
    			background-color: transparent;
    			color: $darkblue;
    			border: 4px solid $darkblue;
    			border-radius: 10px;
    			border-radius: 10px;
    			font-family: 'Open Sans', sans-serif;
    			font-size: 16px;
    		}
    	}
    }
}