@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);.blue {
  background-color: #1A384F;
}

.brown {
  background-color: #B99682;
}

.green {
  background-color: #407844;
}

.container {
  max-height: 100vh;
  overflow: hidden;
}

.main-container {
  position: relative;
  z-index: 3;
}

.main-container .middle-main {
  line-height: 100vh;
  text-align: center;
}

.main-container .middle-main .percentage {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #fff;
  width: 300px;
  z-index: 3;
}

.main-container .middle-main .water {
  font-size: 130px;
}

.main-container .middle-main .water .side {
  font-size: 70px;
}

.main-container .middle-main .coffee {
  font-size: 130px;
  line-height: 1;
}

.main-container .middle-main .coffee .under {
  display: block;
}

.main-container .middle-main .coffee .side,
.main-container .middle-main .coffee .under {
  font-size: 70px;
}

.main-container .middle-main .plants {
  font-size: 120px;
  line-height: 1;
}

.main-container .middle-main .plants .above {
  display: block;
  font-size: 50px;
}

.main-container .waves img {
  z-index: 1;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9;
}

footer .footer-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  width: 300px;
  margin: 0 auto;
  height: 40px;
}

footer .footer-container .line {
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 3px;
  width: 40px;
}

footer .footer-container .active {
  background-color: white;
}

.slidecontainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
}

.box-minmax {
  margin-top: 30px;
  width: 208px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 17px;
  color: #FFFFFF;
}

.box-minmax span:first-child {
  margin-left: 10px;
}

.rs-range {
  margin-top: 29px;
  width: 200px;
  -webkit-appearance: none;
}

.rs-range:focus {
  outline: none;
}

.rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #ffffff;
  border-radius: 0px;
  border: 0px solid #010101;
}

.rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 22px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}

.rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 22px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}

.rs-range::-moz-focus-outer {
  border: 0;
}

.rs-label {
  position: relative;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  display: block;
  width: 78px;
  height: 78px;
  background: transparent;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 14px;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin-top: 20px;
  margin-left: -26px;
  left: attr(value);
  color: #fff;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 25px;
}

.rs-label::after {
  content: "ml";
  display: block;
  font-size: 17px;
  letter-spacing: 0.07em;
  margin-top: -2px;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

nav {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 10;
}

nav .nav-main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 20px;
}

nav .nav-main .nav-item-p,
nav .nav-main .nav-item-amount,
nav .nav-main .nav-item-menu {
  text-decoration: none;
  margin: 0;
}

nav .nav-main .nav-item-p {
  font-size: 20px;
  color: #fff;
}

nav .nav-main .nav-item-amount {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

nav .nav-main .nav-item-menu {
  color: #fff;
}

.counters {
  display: -webkit-box;
  display: flex;
  margin-bottom: 50px;
}

.counters button {
  margin-right: 20px;
}

