@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);.blue {
  background-color: #1A384F;
}

.brown {
  background-color: #B99682;
}

.green {
  background-color: #407844;
}

.container {
  max-height: 100vh;
  overflow: hidden;
}

.main-container {
  position: relative;
  z-index: 3;
}

.main-container .middle-main {
  line-height: 100vh;
  text-align: center;
}

.main-container .middle-main .percentage {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #fff;
  width: 300px;
  z-index: 3;
}

.main-container .middle-main .water {
  font-size: 130px;
}

.main-container .middle-main .water .side {
  font-size: 70px;
}

.main-container .middle-main .coffee {
  font-size: 130px;
  line-height: 1;
}

.main-container .middle-main .coffee .under {
  display: block;
}

.main-container .middle-main .coffee .side,
.main-container .middle-main .coffee .under {
  font-size: 70px;
}

.main-container .middle-main .plants {
  font-size: 120px;
  line-height: 1;
}

.main-container .middle-main .plants .above {
  display: block;
  font-size: 50px;
}

.main-container .waves img {
  z-index: 1;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  margin: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 9;
}

footer .footer-container {
  margin-top: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  width: 300px;
  margin: 0 auto;
  height: 40px;
}

footer .footer-container .line {
  border: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 3px;
  width: 40px;
}

footer .footer-container .active {
  background-color: white;
}

.slidecontainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
}

.slidecontainer form {
  width: 100%;
}

.slidecontainer form .slider-water,
.slidecontainer form .slider-coffee,
.slidecontainer form .slider-plants {
  padding: 0 20px;
}

.slidecontainer form .slider-water .slider-info .info-h3,
.slidecontainer form .slider-coffee .slider-info .info-h3,
.slidecontainer form .slider-plants .slider-info .info-h3 {
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 17px;
  margin: 0;
}

.slidecontainer form .slider-water .slider-info .info-p,
.slidecontainer form .slider-coffee .slider-info .info-p,
.slidecontainer form .slider-plants .slider-info .info-p {
  color: black;
  font-weight: normal;
  font-size: 15px;
  margin: 10px 0 0 0;
}

.slidecontainer form .slider-water .range-slider,
.slidecontainer form .slider-coffee .range-slider,
.slidecontainer form .slider-plants .range-slider {
  padding: 0 20px;
}

.slidecontainer form .slider-water .range-slider .rs-range,
.slidecontainer form .slider-coffee .range-slider .rs-range,
.slidecontainer form .slider-plants .range-slider .rs-range {
  margin-top: 15px;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 8px;
  height: 10px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
}

.slidecontainer form .slider-water .range-slider .rs-range:focus,
.slidecontainer form .slider-coffee .range-slider .rs-range:focus,
.slidecontainer form .slider-plants .range-slider .rs-range:focus {
  outline: none;
}

.slidecontainer form .slider-water .range-slider .rs-range::-webkit-slider-runnable-track,
.slidecontainer form .slider-coffee .range-slider .rs-range::-webkit-slider-runnable-track,
.slidecontainer form .slider-plants .range-slider .rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: none;
  border-radius: 0px;
  border: 0px solid #010101;
}

.slidecontainer form .slider-water .range-slider .rs-range::-moz-range-track,
.slidecontainer form .slider-coffee .range-slider .rs-range::-moz-range-track,
.slidecontainer form .slider-plants .range-slider .rs-range::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: none;
  background: #1A384F;
  border-radius: 0px;
  border: 0px solid #010101;
}

.slidecontainer form .slider-water .range-slider .rs-range::-webkit-slider-thumb,
.slidecontainer form .slider-coffee .range-slider .rs-range::-webkit-slider-thumb,
.slidecontainer form .slider-plants .range-slider .rs-range::-webkit-slider-thumb {
  box-shadow: none;
  border: 0px solid #1A384F;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 22px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}

.slidecontainer form .slider-water .range-slider .rs-range::-moz-range-thumb,
.slidecontainer form .slider-coffee .range-slider .rs-range::-moz-range-thumb,
.slidecontainer form .slider-plants .range-slider .rs-range::-moz-range-thumb {
  box-shadow: none;
  border: 0px solid #1A384F;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  height: 22px;
  width: 22px;
  border-radius: 22px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}

.slidecontainer form .slider-water .range-slider .rs-range::-moz-focus-outer,
.slidecontainer form .slider-coffee .range-slider .rs-range::-moz-focus-outer,
.slidecontainer form .slider-plants .range-slider .rs-range::-moz-focus-outer {
  border: 0;
}

.slidecontainer form .slider-water .range-slider .rs-label,
.slidecontainer form .slider-coffee .range-slider .rs-label,
.slidecontainer form .slider-plants .range-slider .rs-label {
  position: relative;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  display: block;
  width: 78px;
  height: 30px;
  background: transparent;
  border-radius: 10%;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: -26px;
  color: #fff;
  left: attr(value);
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  line-height: 1;
}

.slidecontainer form .slider-water .range-slider .rs-label::after,
.slidecontainer form .slider-coffee .range-slider .rs-label::after,
.slidecontainer form .slider-plants .range-slider .rs-label::after {
  font-size: 16px;
  letter-spacing: 0.07em;
  margin-top: -2px;
}

.slidecontainer form .slider-water .box-minmax,
.slidecontainer form .slider-coffee .box-minmax,
.slidecontainer form .slider-plants .box-minmax {
  margin-top: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 17px;
  color: #1A384F;
  padding: 0 10px;
}

.slidecontainer form .slider-water .range-slider input[type=range]::-webkit-slider-thumb {
  background-color: #1A384F;
}

.slidecontainer form .slider-water .range-slider .rs-range {
  background: -webkit-gradient(linear, left top, right top, from(#1A384F), color-stop(50%, #1A384F), color-stop(50%, #CCD7DB), to(#CCD7DB));
  background: linear-gradient(to right, #1A384F 0%, #1A384F 50%, #CCD7DB 50%, #CCD7DB 100%);
}

.slidecontainer form .slider-water .range-slider .rs-water {
  border: 2px solid #1BBDF6;
  background-color: #1BBDF6;
}

.slidecontainer form .slider-water .range-slider .rs-water::after {
  content: "ml";
}

.slidecontainer form .slider-coffee .range-slider input[type=range]::-webkit-slider-thumb {
  background-color: #57403E;
}

.slidecontainer form .slider-coffee .range-slider .rs-range {
  background: -webkit-gradient(linear, left top, right top, from(#B99682), color-stop(50%, #B99682), color-stop(50%, #CCD7DB), to(#CCD7DB));
  background: linear-gradient(to right, #B99682 0%, #B99682 50%, #CCD7DB 50%, #CCD7DB 100%);
}

.slidecontainer form .slider-coffee .range-slider .rs-coffee {
  border: 2px solid #B99682;
  background-color: #B99682;
}

.slidecontainer form .slider-coffee .range-slider .rs-coffee::after {
  content: "/day";
}

.slidecontainer form .slider-plants .range-slider input[type=range]::-webkit-slider-thumb {
  background-color: #407844;
}

.slidecontainer form .slider-plants .range-slider .rs-range {
  background: -webkit-gradient(linear, left top, right top, from(#407844), color-stop(50%, #407844), color-stop(50%, #CCD7DB), to(#CCD7DB));
  background: linear-gradient(to right, #407844 0%, #407844 50%, #CCD7DB 50%, #CCD7DB 100%);
}

.slidecontainer form .slider-plants .range-slider .rs-plants {
  border: 2px solid #5AAB61;
  background-color: #5AAB61;
  /*&::before {
  	content: "Every ";
  }*/
}

.slidecontainer form .slider-plants .range-slider .rs-plants::after {
  content: " days";
}

.slidecontainer form .btn-settings {
  margin: 0 auto;
  width: 50%;
}

.slidecontainer form .btn-settings .update-btn {
  width: 100%;
  padding: 10px 20px;
  background-color: transparent;
  color: #1A384F;
  border: 4px solid #1A384F;
  border-radius: 10px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

nav {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 10;
}

nav .nav-main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 15px;
}

nav .nav-main .nav-item-p,
nav .nav-main .nav-item-amount,
nav .nav-main .nav-item-menu,
nav .nav-main .nonav-item-p {
  text-decoration: none;
  margin: 0;
}

nav .nav-main .nav-item-p {
  font-size: 20px;
  color: #fff;
}

nav .nav-main .nonav-item-p {
  font-size: 20px;
  color: #1A384F;
}

nav .nav-main .nav-item-amount {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

nav .nav-main .nav-item-menu {
  color: #fff;
}

.relative {
  position: relative;
}

.counters {
  display: -webkit-box;
  display: flex;
  margin-bottom: 50px;
}

.counters button {
  margin-right: 20px;
}

.container-home {
  background: #8AA692;
  height: 100vh;
}

.container-home .wrapper-home {
  padding-top: 100px;
  width: 80%;
  text-align: center;
  margin: auto;
  color: #fff;
}

.container-home .home-username {
  width: 50%;
  margin: auto;
  padding: 10px;
  border: 1px solid #fff;
  margin-bottom: 20px;
}

.container-home .home-logout {
  margin-bottom: 80px;
}

.container-home .home-logout a {
  color: #fff;
  text-decoration: none;
}

.container-home .home-btn {
  width: 50%;
  margin: auto;
  background: #fff;
  border: 1px solid #8AA692;
  padding: 10px;
  color: #8AA692;
  text-decoration: none;
  display: block;
}

.value-link-wrapper {
  color: #fff;
  text-decoration: none;
}

.container-dashboard {
  background: #93BDAB;
  height: 100vh;
}

.container-dashboard .wrapper-main {
  padding-top: 40px;
  width: 100%;
  text-align: center;
  margin: auto;
  color: #fff;
}

.container-dashboard .value-header {
  text-transform: uppercase;
}

.container-dashboard .dashboard-bnts a {
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #f5f5f5;
  font-weight: bold;
}

.container-dashboard .dashboard-value-water {
  padding: 15px;
}

.container-dashboard .dashboard-value-water p {
  color: #1A384F;
}

.container-dashboard .dashboard-value-plants {
  padding: 15px;
}

.container-dashboard .dashboard-value-plants p {
  color: #407844;
}

.container-dashboard .dashboard-value-coffee {
  padding: 15px;
}

.container-dashboard .dashboard-value-coffee p {
  color: #57403E;
}

.container-dashboard .btn-group {
  padding: 0;
  padding-bottom: 50px;
  z-index: 15;
}

.container-dashboard .btn-group li {
  display: inline;
  margin: 25px;
  z-index: 15;
}

.container-dashboard .btn-group li a {
  z-index: 15;
}

.container-dashboard #bnt-group-header {
  padding-bottom: 20px;
}

.container-dashboard #btn-water {
  background: #1A384F;
}

.container-dashboard #btn-coffee {
  background: #57403E;
}

.container-dashboard #btn-plants {
  background: #407844;
}

.container-welcome {
  background: #415948;
}

.submit-btn {
  width: 60%;
  margin: auto;
  background: #fff;
  border: 1px solid #415948;
  padding: 10px;
  color: #415948;
  text-decoration: none;
  display: block;
  margin-top: 20px;
}

.login-input-field {
  width: 80%;
  padding: 10px;
  border: none;
  text-align: center;
  margin-top: 20px;
  color: #415948;
  font-weight: bold;
  margin-bottom: 20px;
}

.go-left,
.go-right {
  position: absolute;
  height: 100vh;
  width: 20vw;
  z-index: 5;
}

.go-right {
  right: 0px;
}

.go-left {
  left: 0px;
}

.wrapper-info {
  padding-top: 100px;
  width: 80%;
  margin: auto;
  color: #fff;
}

.info-text {
  text-align: left;
  line-height: 1.5;
}

.container-info {
  background: #415948;
}

.mark {
  color: #F29999;
}

.right-text {
  text-align: right;
  margin: 40px 0;
}

.info-btn {
  padding: 10px;
  background: #fff;
  color: #415948;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
}

